.transparent {
	background-color: transparent;
}

.torrent-box {
	color: @theme_fg_color;
	box-shadow: 0 1px 2px rgba(0,0,0,0.07);
	background-color: @theme_base_color;
}

.torrent-box:hover {
	background: @theme_bg_color;
}

.row-dragging{
	box-shadow: 0px 0px 2px 0px #333;
	border: solid black 1px;
}

.drag-hover-top {
	margin-top: 100px;
}

.drag-hover-bottom {
	margin-bottom: 100px;
}

.bubble{
	border-radius: 50%;
	background-color: @theme_selected_bg_color;
	color: @theme_selected_fg_color;
}

.bubble :backdrop{
	color: @theme_selected_fg_color;
}

.queued-torrent .bubble{
	background-color: @insensitive_fg_color;
}

.queued-torrent progressbar progress{
	background-color: @insensitive_fg_color;
	border-color: @insensitive_fg_color;
}

list row.expanded {
	margin-top: 6px;
	margin-bottom: 6px;
	border-radius: 8px;
	border-bottom-width: 1px;
	transition: 250ms all linear;
}

list row.expanded-before {
	border-bottom-width: 1px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	transition: 250ms all linear;
}

list row.expanded-after {
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	transition: 250ms all linear;
}

list row:first-child.expanded {
	margin-top:0;
}

list row:last-child.expanded {
	margin-bottom: 0;
}

